
.teachers{
  display: flex;
  justify-content: space-evenly;
  background-color: #b2b1cf;
  font-weight: bold;
}

.flyer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.top{background-color: #98D2EB;
  font-weight: bold;
}
.border{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#98D2EB, #b2b1cf);
  margin: 0;
}
.bottom{
  display: flex;
  justify-content: center;
}