.form{display: flex;
    height: 25vh;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: black;
    font-weight: bold;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 75px;
 }